<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337412180039-oddguoueu0362o1kmi4si9n1srabc98a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337412180039-oddguoueu0362o1kmi4si9n1srabc98a</string>
	<key>API_KEY</key>
	<string>AIzaSyD4d7Gf1Fcw_2Qb9FR-lY37OaN5ZVoXOvE</string>
	<key>GCM_SENDER_ID</key>
	<string>337412180039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.keigoflashChat</string>
	<key>PROJECT_ID</key>
	<string>my-project-199987</string>
	<key>STORAGE_BUCKET</key>
	<string>my-project-199987.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337412180039:ios:7583d62c80b73c184c4962</string>
</dict>
</plist>